#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with=yang --with python3 --with systemd --with vci

override_dh_auto_configure:
	debian/autogen.sh
	./configure --prefix=/opt/vyatta

override_dh_systemd_enable:
	dh_systemd_enable td-agent-bit-reload.path

override_dh_systemd_start:
	dh_systemd_start td-agent-bit-reload.path

# unit-test the python scripts
override_dh_auto_test:
	pytest-3
